@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


* {
  margin: 0px;
  font-family: 'Nunito', sans-serif;
}

.header {
  width: 100vw;
}

.title {
  width: 100vw;
  height: 35vh;
  background: rgb(12,5,125);
  background: linear-gradient(90deg, rgba(12,5,125,1) 32%, rgb(20, 173, 204) 91%);
  color: white;
  border-bottom:2px solid white ;
  border-bottom-left-radius: 39%;
  border-bottom-right-radius: 70%;
  /* text-align: center; */
  padding-top: 9%;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.heading {
 margin-left:0px ;
 font-size: 30px;
}


.btn {
  background: rgb(12,5,125);
  background: linear-gradient(90deg, rgba(12,5,125,1) 32%, rgba(0,212,255,1) 91%);
  border-radius: 25px;
}
/* .App {
  display: flex;
  flex-direction: column;
} */



